[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
djangorestframework = "*"
django = "==1.11.29"
celery = "*"

[dev-packages]

[requires]
python_version = "2.7"
